* {
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin-top: 1.1em;
  margin-bottom: 1em;
}

h1 {
  font-size: 32px;
}

caption {
  border: 1px solid #000;
  border-bottom: none;
}

table {
  margin-top: 1em;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #000;
}

figcaption {
  font-style: italic;
}

figure {
  float: right;
  margin: 0 0 60px 60px;
}
@media (max-width: 770px) {
  figure {
    margin: 0 0 20px 20px;
  }
}

.clear {
	clear: both;
}

footer {
  padding-bottom: 20px;
}

.container {
  width: 70%;
  margin: 0 auto;
}
